body {
    font-family: Arial, sans-serif;
    background-color: #650606;
    padding: 20px;
}

#titulo {
   background: linear-gradient(to right, #3e0c30, #225dc4);
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.paragrafo1 {
    background: linear-gradient(to right, #20c454, #fd4c3f);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.paragrafo2 {
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.paragrafo3 {
    background: linear-gradient(to right, #063818, #21b5ff);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}